* {
    box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
      
  }


body{ 
    padding:50px
    } 
nav {
    background-color:#ad91b9;
    color: rgb(245, 226, 209);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  nav a:hover {
    color:#644f6d;
  }
  
  /* First section */
  #intro {
    background-color:rgb(247, 235, 224);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    text-align: center;
  }
  
  #intro h1 {
    font-size: 60px;
    font-weight: bold;
  }
  
  #intro p {
    font-size: 24px;
    margin-top: 20px;
  }
  
  #intro img {
    width: 155px;
    height: 295px;
    border-radius: 75%;
    margin-right: 20px;
  }
  
  /* Second section */
  #bio {
    background-color: #fff;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
  }
  
  #bio h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
  }
  
  #bio p {
    font-size: 18px;
    margin-bottom: 40px;
    line-height: 1.6;
  }
  
  #bio ul {
    list-style: circle;
    margin-top: 40px;
  }
  
  #bio ul li {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: left;
  }
  
  /* Third section */
  #skills {
    background-color:rgb(247, 235, 224);
    padding: 80px;
    text-align: center;
  }
  
  #skills h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
  }
  
  #skills ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #skills ul li {
    flex-basis: 30%;
    text-align: center;
  }
  
  #skills ul li img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }
  
  /* Fourth section */
  #hobbies {
    background-color: #fff;
    padding: 80px;
    text-align: center;
  }
  
  #hobbies h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
  }
  
  #hobbies ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  #hobbies ul li {
    flex-basis: 20%;
    margin-bottom: 40px;
  }
  
  #hobbies ul li img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  
  /* Fifth section */
  #contact {
    background-color:rgb(247, 235, 224);
    padding: 50px;
    text-align: center;
  }
  
  #contact h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
  }
  
  form {
    display: flex;
    }

footer{
    background-color:#ad91b9;
    padding-left: 50px;
    text-align: center;
    color: white;}

    footer ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      
      footer ul li {
        margin: 0 10px;
      }
      
      footer a {
        color: #fff;
        text-decoration: none;
        font-size: 17px;
        padding: 5px;
      }
      
      footer a:hover {
        color:#644f6d;
      }
}
   